<footer class="py-5 bg-white">
    <div class="container px-4">
        <p class="m-0 text-center text-muted">
            &copy; {{yearNow}} <a class="text-gethired text-decoration-none" href="https://gethired.gr" target="_blank" rel="noopener noreferrer">
                GetHired
            </a>
        </p>

        <p class="font-size-14 text-center">
            <a class="text-gethired text-decoration-none" href="https://www.gethired.gr/privacy" target="_blank" rel="noopener noreferrer">
                Πολιτική απορρήτου
            </a>
            &middot;
            <a class="text-gethired text-decoration-none" href="https://www.gethired.gr/terms" target="_blank" rel="noopener noreferrer">
                Όροι χρήσης
            </a>
        </p>


        <p class="m-0 text-center text-muted">
            <a class="text-gethired text-decoration-none font-size-18 mx-2" href="https://www.facebook.com/GetHiredCrete" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="text-gethired text-decoration-none font-size-18 mx-2" href="https://www.instagram.com/gethiredcrete" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="text-gethired text-decoration-none font-size-18 mx-2" href="https://www.linkedin.com/company/gethiredcrete" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </p>

    </div>
</footer>