<!-- Header-->
<header class="bg-gethired text-white">
    <div class="container px-4 text-center">
        <h1 class="font-weight-700 mb-3">Get Into Beginners' Web Development</h1>
        <p class="lead">
            Αν είσαι μεταξύ <span class="font-weight-600">18-35 ετών</span>, σε ενδιαφέρει να αποκτήσεις γνώσεις γύρω από το <span class="font-weight-600">Web
                Application Development</span> και να
            εργαστείς ως <span class="font-weight-600">Full-stack web developer</span>
            (front-end και back-end), φτιάξαμε για σένα ένα ξεχωριστό, δωρεάν πρόγραμμα εκπαίδευσης με όλα τα web application trends!
        </p>

        <hr class="my-4">

        <p class="lead mb-4">
            <span>
                <i class="fa-regular fa-calendar-days"></i>
                <span class="ms-2 font-weight-600">Από 04/12 έως 22/01</span>
            </span>
            <span class="mt-2 mt-md-auto ms-md-4 d-inline-block"><i class="fa-solid fa-location-dot"></i>
                <span class="ms-2 font-weight-600">Bizrupt (Βικέλα 34-36, Ηράκλειο)</span>
            </span>
        </p>

        <a class="font-size-30 text-white" href="#about">
            <i class="fa-solid fa-angle-down"></i>
        </a>
    </div>
</header>



<!-- Section: About -->
<section class="bg-light" id="about">

    <div class="container px-4">

        <div class="row gx-4">

            <div class="col-lg-7">

                <h3 class="mb-3">Σχετικά με το πρόγραμμα</h3>

                <p>
                    Το πρόγραμμα απευθύνεται σε όσους και <span class="font-weight-600">όσες κατέχουν βασικές γνώσεις προγραμματισμού</span> και επιθυμούν να
                    αναπτύξουν τις γνώσεις τους πάνω στα
                    Web Application. <span class="font-weight-600">Έχει δημιουργηθεί σε συνεργασία με τον <a class="text-gethired"
                            href="https://www.linkedin.com/in/johnmakridis" target="_blank" rel="noopener noreferrer">Γιάννη Μακρίδη</a>, Co-Founder & CTO της
                        Tourmie</span>. Μέσα από την εκπαίδευση θα μάθεις
                    πώς να δημιουργείς τα δικά σου responsive Web Application, θα εξοικειωθείς με το Object-Oriented Programming (OOP), θα μάθεις να γράφεις
                    κώδικα
                    JavaScript/TypeScript και θα γνωρίσεις διαφορετικά back-end environments.
                </p>

                <p>
                    <span class="font-weight-600">Το πρόγραμμα θα διαρκέσει από τις 04 Δεκεμβρίου 2023 έως και τις 22 Ιανουαρίου 2024</span>. Αποτελείται από 33
                    ώρες δια ζώσης θεωρητικής και πρακτικής εκπαίδευσης, με 2 τρίωρα μαθήματα την εβδομάδα (11 συνολικά), <span class="font-weight-600">κάθε
                        Δευτέρα και Τετάρτη και ώρες 18:00 και 21:00</span>. Φυσικά, θα κάνουμε διάλειμμα για τις γιορτές των Χριστουγέννων. <span
                        class="font-weight-600">Οι θέσεις είναι μόνο 25 και γι’ αυτό θα γίνει επιλογή μεταξύ των αιτήσεων που θα λάβουμε</span>.
                </p>

            </div>

            <div class="col-lg-5 participation-button-container">
                <button class="btn btn-success btn-lg btn-rounded font-size-16 mt-5 mt-lg-auto" data-bs-toggle="modal" data-bs-target="#applicationFormModal">
                    ΔΗΛΩΣΕ ΣΥΜΜΕΤΟΧΗ
                </button>
            </div>

        </div>

    </div>

</section>



<!-- Section: Program Info -->
<section id="info">

    <div class="container px-4">

        <div class="row gx-4">

            <div class="col-12">
                <h3 class="mb-3">Πληροφορίες συμμετοχής</h3>
            </div>

        </div>

        <div class="row gx-4">

            <div class="col-lg-6">

                <div class="card mb-4 mb-lg-auto">

                    <div class="card-body">

                        <h5 class="text-gethired mb-3">Σε αφορά, αν ενδιαφέρεσαι:</h5>

                        <ul class="list-interested">
                            <li>Να λάβεις τις βασικές γνώσεις γύρω από το Web Application development.</li>
                            <li>Να εργαστείς ως Full-stack web developer (front-end και back-end).</li>
                            <li>Να μάθεις πώς λειτουργεί το Web, το Web development stack και οι πιο δημοφιλείς Web development τεχνολογίες.</li>
                            <li>Να μάθεις να δημιουργείς απλά responsive Web Application, χρησιμοποιώντας Angular, Bootstrap, HTML και CSS.</li>
                            <li>Να μάθεις να γράφεις κώδικα με asynchronous JavaScript/TypeScript.</li>
                            <li>Να μάθεις να γράφεις σε back-end environments, χρησιμοποιώντας Node.js και να τα συνδέεις με databases (για data
                                storage/retrieval).</li>
                            <li>Να εξοικειωθείς με τον Αντικειμενοστραφή Προγραμματισμό (Object-Oriented Programming (OOP) paradigm).</li>
                            <li>Να επιλέγεις τις κατάλληλες τεχνολογίες για το κάθε Project.</li>
                            <li>Nα αναπτύξεις τα skills που απαιτούνται για να ξεκινήσεις να εργάζεσαι, μέσα από τη δημιουργία του δικού σου Project.</li>
                        </ul>

                    </div>

                </div>

            </div>


            <div class="col-lg-6">

                <div class="card">

                    <div class="card-body">

                        <h5 class="text-gethired mb-3">Τι ψάχνουμε να δούμε σ’ εσένα:</h5>

                        <ul class="list-what-we-look">
                            <li>Θέληση για γνώση!</li>
                            <li>Όρεξη για Full-stack web development (front-end και back-end).</li>
                            <li>Συνέπεια στις ώρες των μαθημάτων.</li>
                            <li>Επιθυμητό: σπουδές ή εμπειρία στο αντικείμενο του προγραμματισμού.</li>
                            <li>Να έχεις μαζί σου laptop</li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>



<!-- Section: Why to participate -->
<section class="bg-light" id="why">

    <div class="container px-4">

        <div class="row gx-4">

            <div class="col-12 text-center">
                <h3 class="mb-5">Γιατί να συμμετέχεις</h3>
            </div>

        </div>

        <div class="row gx-4 justify-content-center">

            <div class="col-lg-5 col-xl-5">

                <ul class="list-why-participate">
                    <li>
                        <i class="fa-regular fa-circle-check me-2 text-success font-size-30"></i>
                        <div>Θα δημιουργήσεις το δικό σου Project με την καθοδήγηση του
                            trainer.</div>
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check me-2 text-success font-size-30"></i>
                        Θα γνωρίσεις και θα εξοικειωθείς με όλες τις σύγχρονες
                        τεχνολογίες που
                        χρησιμοποιούνται
                        στις τεχνολογικές εταιρείες.
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check me-2 text-success font-size-30"></i>
                        O Γιάννης Μακρίδης διαθέτει πολυετή και σημαντική επαγγελματική
                        εμπειρία
                        στην ανάπτυξη
                        web εφαρμογών και πληροφοριακών συστημάτων.
                    </li>
                </ul>

            </div>

            <div class="col-lg-5 col-xl-5">

                <ul class="list-why-participate">
                    <li>
                        <i class="fa-regular fa-circle-check me-2 text-success font-size-30"></i>
                        Θα μάθεις πώς να δημιουργείς τα δικά σου Web Application.
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check me-2 text-success font-size-30"></i>
                        Θα αποκτήσεις επαφή με το δίκτυο των τεχνολογικών εταιριών που
                        συνεργάζεται
                        σε σταθερή
                        βάση το Bizrupt.
                    </li>
                    <li>
                        <i class="fa-regular fa-circle-check me-2 text-success font-size-30"></i>
                        Είναι δωρεάν!
                    </li>
                </ul>

            </div>

        </div>


        <div class="row">

            <div class="col-12 text-center">

                <button class="btn btn-success btn-lg btn-rounded font-size-16 mt-5" data-bs-toggle="modal" data-bs-target="#applicationFormModal">
                    ΔΗΛΩΣΕ ΣΥΜΜΕΤΟΧΗ
                </button>

            </div>

        </div>

    </div>

</section>



<app-application-form-modal></app-application-form-modal>