<div class="my-5 py-5">

    <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let repo of repositories">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{repo.name}}</h5>
                    <p class="card-text">{{repo.owner.login}}</p>
                    <a href="#" class="btn btn-primary" (click)="testFunction(repo)">View repository</a>
                </div>
            </div>

        </div>

    </div>

</div>